(
    selected_tab: Reset,
    command_fg: "",
    command_bg: "",
    selection_bg: Reset,
    cmdbar_extra_lines_bg: "",
    disabled_fg: Reset,
    diff_line_add: Reset,
    diff_line_delete: Reset,
    diff_file_added: Reset,
    diff_file_removed: Reset,
    diff_file_moved: Reset,
    diff_file_modified: Reset,
    commit_hash: Reset,
    commit_time: Reset,
    commit_author: Reset,
    danger_fg: Reset,
    push_gauge_bg: Reset,
    push_gauge_fg: Reset,
)
